root = true

[*]
indent_style = space
indent_size = tab
tab_width = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
charset = utf-8

[*.lean]
max_line_length = 100
indent_size = 2

[.git/COMMIT_EDITMSG]
max_line_length = 72
indent_size = 2
